<nav class="navbar navbar-expand-lg navbar-light bg-yellow">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="col-9 col-sm-10 col-md-10 justify-content-center content-brand">
    <a class="navbar-brand" href="#">Burguer Queen </a>
  </div>
  <div class="collapse navbar-collapse col-2" id="navbarToggler">
    <ul class="navbar-nav col-12 col-md-12">
      <li class="nav-item active btn-sm bg-red col-12">
        <a class="nav-link text-white" href="#">Pedidos</a>
      </li>
    </ul>
  </div>
</nav>