<form>
  <label for = "">Cliente</label>
  <input id = "" type="text" placeholder="Ingresa nombre">
  <label for=""># de mesa</label>
  <input type="number">
</form>
<p>Pedido</p>
<table>
  <tr>
    <th>Cant.</th>
    <th>Descripción</th>
    <th>Precio</th>
  </tr>
  <tr>
    <td>
      <button>-</button>
      <label>contador</label>
      <button>+</button>
    </td>
    <td> Nombre del producto</td>
    <td>Precio del producto</td>
  </tr>
<tr>
  <td>Total</td>
  <td></td>
  <td>Monto en Dolares</td>
</tr>
</table>
<button>Enviar a cocina</button>
