<form>
  <label for="">Cliente</label>
  <input id="" type="text" class="customer">
  <label for="">N° de mesa</label>
  <input type="number" class="number-table">
</form>
<p>Pedido</p>
<table>
  <tr>
    <th>Cant.</th>
    <th>Descripción</th>
    <th>Precio</th>
  </tr>
  <tr>
    <td>
      <button (click)="subtract()">-</button>
      <label>{{ quantity }}</label>
      <button (click)="add()">+</button>
    </td>
    <td> Nombre del producto</td>
    <td>Precio del producto</td>
  </tr>
  <tr>
    <td>Total</td>
    <td></td>
    <td>Monto en Dolares</td>
  </tr>
</table>
<button>Enviar a cocina</button>
