<form [formGroup]="orderForm" (ngSubmit)="sendOrder()">
  <div class="contain-customer">
    <label for="">Cliente</label>
    <input id="" type="text" class="customer" formControlName="nameCustomer">
  </div>
  <div class="contain-num-table">
    <label for="">N° de mesa</label>
    <input type="number" class="number-table" formControlName="numberTable">
  </div>
  <p>Pedido N° ---</p>
  <table>
    <tr>
      <th>Cant.</th>
      <th>Descripción</th>
      <th>Precio</th>
    </tr>
    <tr *ngFor="let item of arrOrder">
      <td>
        <label  class="btn btn-primary" (click)="subtract(item)"> - </label >
        <label> {{ item.quantity }} </label>
        <label  class="btn btn-primary" (click)="add(item)"> + </label >
      </td>
      <td>
    <tr>{{item.product}} </tr>
    <tr *ngIf="item.extra.length > 0">
      <label *ngFor="let extra of item.extra">{{extra.data.name}} </label>
    </tr>
    </td>
    <td> $ {{item.amount}} </td>
    <td>
      <button (click)="deleteItem(item)">X</button>
    </td>
    </tr>
    <tr>
      <td>Total</td>
      <td></td>
      <td>$ {{totalAmount}}</td>
    </tr>
  </table>
  <button type="submit">Enviar a cocina</button>
</form>