@media (max-width: 319px) {
  .modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 990;
  }
  
  .modal .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 995;
    background: rgba(0,0,0,0.4);
  }
  
  .modal .modal_content {
    z-index: 999;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90%;
    overflow: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    text-align: center;
    border-radius: 4px;
    width: 265px;
  }
  
  .modal .modal_content > h2 {
    font-size: 28px;
    font-weight: 200;
    margin: 20px 0 40px;
    text-align: center;
  }
  
  .modal .close_modal {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 18px;
    opacity: 0.5;
    background: none;
    border: none;
    transition: opacity 0.2s ease;
  }
  
  .modal .close_modal:hover {
    opacity: 0.9;
  }
  
  img{
    height: 80px;
    width: 80px;
    border-radius: 25%;
    border: solid 1px #c9c9c9;
    padding: 8px;
    margin-top: 16px;
  }
  
  p{
    font-size: 18px;
    margin: 0px;
  }
  
}

@media (min-width: 320px) {
  .modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 990;
  }
  
  .modal .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 995;
    background: rgba(0,0,0,0.4);
  }
  
  .modal .modal_content {
    z-index: 999;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90%;
    overflow: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    text-align: center;
    border-radius: 4px;
    width: 265px;
    h2{
      color: #0074C5;
    }
    .container{
    display: flex;
    justify-content: space-evenly;
    }
  }
  
  .modal .modal_content > h2 {
    font-size: 28px;
    font-weight: 200;
    margin: 20px 0 40px;
    text-align: center;
  }
  
  .modal .modal_content .buttons_wrapper {
    padding: 20px;
  }
  
  .modal .close_modal {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 18px;
    opacity: 0.5;
    background: none;
    border: none;
    transition: opacity 0.2s ease;
  }
  
  .modal .close_modal:hover {
    opacity: 0.9;
  }

  img{
    height: 80px;
    width: 80px;
    border-radius: 25%;
    border: solid 1px #c9c9c9;
    padding: 8px;
    margin-top: 16px;
  }
  
  p{
    font-size: 18px;
    margin: 0px;
  }
}


@media (min-width: 480px) {}

@media (min-width: 560px) {}

@media (min-width: 768px) {
  .modal .modal_content {
    width: 450px;
  }
}

@media (min-width: 980px) {}
@media (min-width: 1200px) {
  .modal .modal_content {
    width: 650px;
  }
}