<div class="container-card col-4" *ngFor="let product of products" (click)="getItem(product.id)">
    <div class="card">
        <img [src]="product.data.image" alt="image of product">
        <div class="container-detail col-12">
            <p class="name-product">{{ product.data.name }}</p>
            <p>{{ '$ ' }}{{ product.data.price }}</p>
        </div>
    </div>
</div>
<app-modal (sendArrayOfExtras)="getArrayOfExtras($event)" [productsExtras]="productsExtras" [show]="showModal"
    [customClass]="'custom_modal_class'" [closeModal]="getItem">
</app-modal>