.container-card{
  margin-top: 8px;
  box-sizing: border-box;
}

.card{
  text-align: center;
  align-items: center;
  padding: 0px;
}

img{
  width: 100px !important;
  height: auto;
}

.container-detail{
  padding: 0px;
}

.name-product{
  height: 44px;
  background-color: #000;
  color: #fff;
}

p{
  margin-bottom: 4px;
}