.contain-detail{
  text-align: center;
  width: 33%;
}

img{
  height: 80px;
  width: 80px;
  border-radius: 25%;
  border: solid 1px #c9c9c9;
  padding: 8px;
  margin-top: 16px;
}

p{
  font-size: 18px;
  margin: 0px;
}
