.container-card{
  margin-top: 8px;
  box-sizing: border-box;
}

.card{
  display: flex;
  justify-content: center;
  height: 130px;
  text-align: center;
  align-items: center;
  padding: 8px 4px;
}

.img-amount{
  height: 130px;
}

.container-detail{
  padding: 0px;
}

.name-product{
  height: 60px;
  background-color: #fff;
  color: #333;
}

p{
  margin-bottom: 4px;
}

.img-fluid{
  height: 100px;
}

@media(max-width: 768px){
  .row{
    flex-wrap: nowrap;
    height: 130px;
    .card-body{
      display: flex;
      align-items: center;
    }
  }
}