app-header{
  width: 100%;
}

main{
  width: 100%;
  box-sizing: border-box;
  margin-left: 0px !important;
  margin-right: 0px !important;
  display: flex;
}

app-product-catalog{
  width: 60%;
}

app-order{
  width: 40%;
}

@media(max-width: 576px){
  main{
    display: block;
  }

  app-product-catalog{
    width: 100%;
  }
  
  app-order{
    width: 100%;
  }
}



