<div class="row">
  <div class="contain-buttons">
    <button class="btn col-3" id="btn-classic" (click)="getByCategory('classic')">CLÁSICOS</button>
    <button class="btn col-3" id="btn-drink" (click)="getByCategory('drinks')">BEBIDAS</button>
    <button class="btn col-3" id="btn-piqueo" (click)="getByCategory('piqueos')">PIQUEOS</button>
  </div>
</div>
<div class="contain-products row">
  <app-product class="col-12"[products]="productsFilter" [productsExtras]="productsExtras"></app-product>
</div>