button{
  height: 40px;
  border-radius: 8px;
  margin-left: 16px;
  width: 30%;  
}

.contain-products{
  padding: 10px;
  app-product{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: baseline;
  }  
}
